<nav class="navbar navbar-dark navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="{{ SITEURL }}">
      <img
        class="navbar-brand-logo"
        src="{{ SITEURL }}/theme/images/logo.png"
      />
      <h3 class="course-title">{{ COURSE_NAME }}</h3>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav ml-auto">
        <div class="dropdown">
          <button class="dropbtn">The Committee</button>
            <div class="dropdown-content">
              <a href="{{ SITEURL }}/#">About</a>
              <a href="{{ SITEURL }}/#">Join</a>
              <a href="{{ SITEURL }}/#">Members</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Events</button>
            <div class="dropdown-content">
              <a href="{{ SITEURL }}/#">GAC Meetings</a>
              <a href="{{ SITEURL }}/#">Weekly Study Sessions</a>
              <a href="{{ SITEURL }}/#">URM Meet and Greet</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Resources</button>
            <div class="dropdown-content">
              <a href="{{ SITEURL }}/#">Funding</a>
              <a href="{{ SITEURL }}/#">Conferences</a>
              <a href="{{ SITEURL }}/#">Internships</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Reports</button>
            <div class="dropdown-content">
              <a href="{{ SITEURL }}/#">Fall 2020 Report</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            <a href="{{ SITEURL }}/#">Contact Us</a>
          </button>
        </div>
      </ul>
    </div>
    <!-- .collapse navbar-collapse -->
  </div>
  <!-- .container -->
</nav>
