<nav class="navbar navbar-dark navbar-expand-md">
  <div class="container">
    <a class="navbar-brand" href="{{ SITEURL }}">
      <img
        class="navbar-brand-logo"
        src="{{ SITEURL }}/theme/images/logo.png"
      />
      <h3 class="course-title">{{ COURSE_NAME }}</h3>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsDefault"
      aria-controls="navbarsDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav ml-auto">
        <div class="dropdown">
          <button class="dropbtn">The Committee</button>
            <div class="dropdown-content">
              <a href="{{ SITEURL }}/pages/about.html">About</a>
              <a href="{{ SITEURL }}/pages/join.html">Join</a>
              <a href="{{ SITEURL }}/pages/members.html">Members</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Events</button>
            <div class="dropdown-content">
              <a href="{{ SITEURL }}/pages/meetings.html">GAC Meetings</a>
              <a href="{{ SITEURL }}/pages/studysessions.html">Weekly Study Sessions</a>
              <a href="{{ SITEURL }}/pages/meetandgreet.html">URM Meet and Greet</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Resources</button>
            <div class="dropdown-content">
              <a href="{{ SITEURL }}/pages/resources/funding.html">Funding</a>
              <a href="{{ SITEURL }}/pages/resources/confereces.html">Conferences</a>
              <a href="{{ SITEURL }}/pages/resources/internships.html">Internships</a>
              <a href="{{ SITEURL }}/pages/resources/mentoring.html">Internships</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Reports</button>
            <div class="dropdown-content">
              <a href="{{ SITEURL }}/docs/GAC_DIB_Report_Fall_2020.pdf">Fall 2020 Report</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">
            <a href="{{ SITEURL }}/pages/contactus.html">Contact Us</a>
          </button>
        </div>
      </ul>
    </div>
    <!-- .collapse navbar-collapse -->
  </div>
  <!-- .container -->
</nav>
