.lp-header {
    background: linear-gradient(to bottom, #b3b3b3, #ffffff);
    height: 55vh;
    min-height: 440px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center;  
  
}

#lp-header-title {
    font-size: 2.8rem;
    font-family: 'Merriweather', serif;
    font-weight: bold;
   
}
#lp-header-title-cont {
    padding-bottom: 15px;
}

#lp-header-text {
    font-size: 1.3rem;
    margin-left: 20%;
    margin-right: 20%;
}


   @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1; 
      transform: translateY(0); 
    }
  }

  .fade-up {
    opacity: 0; 
    animation: fadeInUp 1s ease-out forwards; 
  }

  .fade-up-delay {
    animation-delay: 0.5s; 
  }