#hlogo {
    width: 200px;
    padding: 10px;
}

#hlogo-footer {
    width: 150px;
}

#hlogo-footer-2{
    width:50px;
}

.footer-content{
    text-align: left;
}

#top-footer {
    padding-left: 20%;
    padding-right: 20%;
}