{% extends 'components/base.html' %}


<div class="container title">
{% block title %}IACS Graduate Advisory Committee{% endblock %}
</div>


{% block content %}

<h2>Upcoming Events</h2>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Event</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Friday, January 29</td>
        <td>10:00-11:00 am (UTC/GMT + 8)</td>
        <td>International Student Spring Kick-Off: Session 1</td>
      </tr>
      <tr>
        <td>Friday, January 29</td>
        <td>10:00-11:00 am (UTC/GMT + 1)</td>
        <td>International Student Spring Kick-Off: Session 2</td>
      </tr>
    </tbody>
  </table>

{% endblock %}
